{% extends 'todo/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}<title>Task Form</title>{% endblock title %}

{% block content %}

    <div class="card-header p-4 text-center text-light" style="background-color: #cb6767">
        <div class="text-start">
            <a class="btn btn-outline-dark fs-5" href="{% url 'tasks' %}">Go back</a>
        </div>
        <h1 class="text-center mb-0">Task Form</h1>
    </div>

    <div class="card-body p-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger fs-5">Submit</button>
        </form>
    </div>

{% endblock content %}